/* blog ------------------------------ */

.blog {

	&.index {
		h2 {
			margin-bottom: $spacer-base;
		}
	}
	.article-intro {
		font-size: $font-size-large;
		line-height: $font-size-large;
		font-family: $font-family-italic;
		margin-bottom: $spacer-base;
	}
	
	.diagrams {
		&.ames-terminology {
			h3 {
				margin-top: 0;
				padding-top: 0;
				border: 0;
			}
			p {
				break-inside: avoid;
			}
		}
	}
	
	article {
		margin-bottom: $spacer-base;
		position: relative;
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
    
		a {
			&.overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
			}
		}
		
		.picture-wrapper {
			&.left {
				margin-right: 1.5rem;
			}
		}
		
		figure {
			padding: 0;
			position: relative;
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */			
			
			a {
				img {
					border: $border-default;
				}
				&:hover {
					img {
						border-color: $link-color;
					}
				}
			}
			p {
				position: static;
				padding: 0;
			}
			figcaption {
				position: relative;
				.caption-credit {
					display: flex;
					-js-display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: flex-end;
					position: absolute;
					top: 0.75rem;
					left: -1.5rem;
					transform-origin: left top;
					transform: rotate(-90deg);
					font-size: $font-size-small;
					text-transform: none;
					color: $picture-caption-color;
					font-style: italic;
					text-align: right;
					&:before {
						content: "";
						position: relative;
						transform: rotate(90deg);
						background-image: url("");
						width: $spacer-base;
						height: $spacer-base;
						margin-right: $spacer-xs;
					}
				}
			}
		}
		
		
		header {
			margin-bottom: $spacer-base;
			padding-bottom: $spacer-base;
			border-bottom: $artboard-hr;
			
			h1 {
				margin-bottom: $spacer-small;
			}
			h2 {
				font-size: $h3-font-size;
				margin-bottom: $spacer-small !important;
			}
			.excerpt {
			}			
		}
		footer {
			&.blog-footer {
				display: none;
				border: 0;
			}
		}
		.content-summary {
			font-size: $h2-font-size;
		}
	}
	
	.sticky-top {
		top: $main-nav-height + 2rem;
	}
	
	.blog-nav {
		line-height: 1.25rem;
		padding-bottom: 0;
		dl {
			dt {
				margin-bottom: $spacer-small;
			}
			dd {
				&.active {
					a {
						cursor: default;
						color: $artofcomicbook-orange;
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}
