/* components ------------------------ */

.feature-story-card {
	margin-bottom: $spacer-base;
	&.has-bottom-border {
		margin-bottom: $spacer-base;
		padding-bottom: $spacer-base;
		border-bottom: $artboard-hr;
	}
	&.small-bottom-margin {
		margin-bottom: $spacer-small !important; 
	}
	.image {
		img {
			margin-bottom: 1rem;
			border: $border-default;
		}
	}
	.text {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		.header {
			font-family: $comic-book-headers;
			font-size: $h2-font-size;
			line-height: $h2-line-height * 1.1;
			color: $text-color !important;
			margin-bottom: $spacer-base;
			text-transform: uppercase;
			&.header-3 {
				font-size: $h2-font-size;
				line-height: $line-height-base;
				color: $headings-color;
			}
		}
		.cta a {
			text-decoration: none;
		}
	}
}

.multi-link {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 2rem;
	.icon {
		flex-shrink: 0;
		align-content: center;
		text-align: center;
		background: $multilink-bg;
		background-size: 100%;
		width: $multilink-circle;
		height: $multilink-circle;
		border-radius: $circle-border-radius;
		margin-right: 1rem;
		margin-top: -.5rem;
		img {
			width: $multilink-icon;
			margin: 0 auto;
		}
	}
	.text {
		padding: 0;
		h2 {
			margin-bottom: .5rem;
		}
		p {
		}
		ul {
			padding-left: 0;
			li {
				display: inline-block;
				line-height: 1rem;
				margin-bottom: 0;
				&:not(:last-child) {
					margin-right: 0;
				}
				&::after {
				  content: "|";
				  color: $gray-lightest;
				  margin-left: $spacer-small;
				  margin-right: $spacer-small;
				  font-family: $font-family-sans-serif;
				}
				&:last-child {
					&::after {
						content: "";
					}
				}
				a {
					text-decoration: none;
				}
			}
		}
	}
}

.tile-cards {
	display: flex;
	flex-direction: row;
	gap: 1rem 0;
	margin-bottom: 2rem;
	&.icon-tiles {
		.tile-card {
			text-align: center;
			flex-direction: column;
			.header {
				&:after {
					display: none;
				}
			}
			.icon {
				margin-bottom: $spacer-small;
				img, object {
					width: $tile-card-icon;
					margin: .25rem auto 0;
					filter: hue-rotate(0deg);
					border: 0;
				}
			}
		}
	}	
	
	.tile-card {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: $spacer-base;
		background: $tile-card-bg;	
		border: $tile-card-border;
		text-decoration: none;
						
		.header, .description {
			display: block;
			text-decoration: none;
			line-height: 1.2rem;
		}
		.header {
			font-family: $font-family-headers;
			text-transform: uppercase;
			margin-bottom: $spacer-small;
			&:after {
				font-family: 'Font Awesome Solid';
				font-size: .75rem;
				content: $icon-list-link;			
				color: $link-color;
				margin-left: .25rem;
			}
		}
		.description {
			color: $text-color;
			font-size: $font-size-small;
			margin-bottom: .5rem;
		}
		&:hover {
			background-color: $tile-card-hover-bg;
			border: $tile-card-hover-border;
			.header {
				color: $link-color;
			}
		}
	}
}


.feature-cards {
	display: flex;
	flex-direction: row;
	gap: 1rem 0;
	margin-bottom: 2rem;
	.feature-card {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-bottom: $spacer-base;
		text-decoration: none;
		.image, iframe {
			margin-bottom: $spacer-base;
		}
		iframe {
			width: 100%;
			margin-bottom: $spacer-small;
		}
		&.image-has-border {
			img {
				border: $border-artboard;
			}
		}
		.text {
			flex-grow: 1;
			padding: 0;
			margin-bottom: -$spacer-xs;
			.header, .description {
				display: flex;
				text-decoration: none;
				line-height: 1.2rem;
				flex-grow: 1;
			}
			.header {
				font-family: $font-family-headers;
				font-size: $component-header-font-size;
				line-height: $component-header-line-height;
				color: $headings-color;
				margin-bottom: $spacer-small;
				text-transform: uppercase;
				a {
					text-transform: uppercase;
					text-decoration: none;
					&:after {
						font-family: 'Font Awesome Solid';
						content: $icon-list-link;			
						color: $link-color;
						margin-left: .5rem;
					}
				}
			}
			.description {
				color: $text-color;
				font-size: $font-size-small;
			}
		}
		.button-row {
			margin-bottom: $spacer-base;
		}
		.cta {
			&:after {
				@include cta-arrow;
			}
		}
		&.video {
			display: block;
			height: auto;
			.text {
				.header {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	
	&.with-background {
		.feature-card {
			padding: 1rem;
			background: $tile-card-bg;	
		}
	}
}

.story-group-blade {
	margin-bottom: $spacer-base;
	&:last-child {
		border: 0;
	}
	.story-group-lead {
		.feature-story-card {
			.text {
				margin-bottom: 0;
				padding-bottom: 0;
				.header {
					margin-bottom: $spacer-small;
				}
				.cta {
					margin-bottom: 0;
				}
			}
		}
	}
	
	.story-group-row.tile-cards {
		position: relative;
		display: flex;
		background: $tile-card-bg;
		margin-bottom: auto;
		.item {
			position: relative;
       		flex: 1 0 0%;
       		margin-bottom: 0;
       		padding: 0;
			.tile-card {
				background: none;
				margin-bottom: 0;
				border: 0;
				&:hover {
					background: $tile-card-blade-hover-bg;
				}
			}
			&:not(:first-child):before {
				content: "";
				position: absolute;
				left: 0;
				top: 1rem;
				bottom: 1rem;
				width: 1px;
				background: $tile-card-border-color;
			}
		}
	}
}

.link-list {
	margin-bottom: $spacer-large;
	&.has-cta {
		margin-bottom: $spacer-base;
	}
	.header {
		@include list-header-border;
		@include list-header-name;
		.list-description {
			font-family: $font-family-base;
			text-transform: none;
			color: $text-color;
			margin-top: $spacer-small;
			margin-bottom: $spacer-xs;
			font-size: $font-size-base;
		}
	}
	
	dt {
		span {
			display: block;
			margin-top: .5rem;
			font-family: $font-family-base;
			text-transform: none;
			color: $text-color;
			font-size: $font-size-base;
		}
	}
	
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			line-height: 1.4rem;
			break-inside: avoid;
		}
	}
	&.two-column {
		ul {
		  column-count: 2;
		}
	}	
	&.three-column {
		ul {
		  column-count: 3;
		}
	}	
	&.four-column {
		ul {
		  column-count: 4;
		}
	}	

	dd {
		line-height: 1.1rem;
	}
	a {
		text-decoration: none;
		color: $text-color;
		&:hover {
			color: $link-color;
		}
		&:after {
			@include cta-arrow;
		}
	}
	.cta a {
		color: $link-color !important;
		&:hover {
			color: $text-color !important;
		}
	}
}

