/* fonts ------------------------------ */

@font-face {
	font-family: 'Proxima Nova';
	src: url("../../fonts/proxima-nova/proxima-nova-reg.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url("../../fonts/proxima-nova/proxima-nova-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Italic';
	src: url("../../fonts/proxima-nova/proxima-nova-reg-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bold Italic';
	src: url("../../fonts/proxima-nova/proxima-nova-bold-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt Bold';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt Condensed Semibold';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-semibold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt Black';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Spinner Rack Regular';
	src: url("../../fonts/spinner-rack/spinner-rack-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Spinner Rack Italic';
	src: url("../../fonts/spinner-rack/spinner-rack-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Spinner Rack Bold Italic';
	src: url("../../fonts/spinner-rack/spinner-rack-bold-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Comicraft BiffBamBoom';
	src: url("../../fonts/comicraft-biffbamboom/comicraft-biffbamboom.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Foom';
	src: url("../../fonts/comicraft-foom/comicraft-foom.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* CC OTS fonts not working, TTF does -- */
@font-face {
	font-family: 'Comicraft Speeding Bullet';
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet.otf") format("opentype");
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Speeding Bullet Italic';
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet-italic.otf") format("opentype");
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Speeding Bullet Trails';
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet-trails.otf") format("opentype");
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet-trails.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Speeding Bullet Trails Italic';
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet-trails-italic.otf") format("opentype");
	src: url("../../fonts/comicraft-speeding-bullet/comicraft-speeding-bullet-trails-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Comicraft Legendary';
	src: url("../../fonts/comicraft-legendary/comicraft-legendary.otf") format("opentype");
	src: url("../../fonts/comicraft-legendary/comicraft-legendary.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Legendary Italic';
	src: url("../../fonts/comicraft-legendary/comicraft-legendary-italic.otf") format("opentype");
	src: url("../../fonts/comicraft-legendary/comicraft-legendary-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Legendary Bold';
	src: url("../../fonts/comicraft-legendary/comicraft-legendary-bold.otf") format("opentype");
	src: url("../../fonts/comicraft-legendary/comicraft-legendary-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comicraft Legendary Bold Italic';
	src: url("../../fonts/comicraft-legendary/comicraft-legendary-bold-italic.otf") format("opentype");
	src: url("../../fonts/comicraft-legendary/comicraft-legendary-bold-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* END CC fonts not working -- */


@font-face {
	font-family: 'Piekos FX Rough';
	src: url("../../fonts/piekos-fx-rough/piekos-fx-rough.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Piekos FX Rough Brush';
	src: url("../../fonts/piekos-fx-rough/piekos-fx-rough-brush.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Piekos FX Rough Thin';
	src: url("../../fonts/piekos-fx-rough/piekos-fx-rough-thin.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Piekos FX Basic';
	src: url("../../fonts/piekos-fx-basic/piekos-fx-basic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Piekos FX Basic Italic';
	src: url("../../fonts/piekos-fx-basic/piekos-fx-basic-italic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Piekos FX Basic Condensed';
	src: url("../../fonts/piekos-fx-basic/piekos-fx-basic-condensed.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Piekos FX Basic Condensed Italic';
	src: url("../../fonts/piekos-fx-basic/piekos-fx-basic-condensed-italic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Piekos FX Basic Thin';
	src: url("../../fonts/piekos-fx-basic/piekos-fx-basic-thin.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Piekos FX Basic Thin Italic';
	src: url("../../fonts/piekos-fx-basic/piekos-fx-basic-thin-italic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Avengeance Mightiest Avenger';
	src: url("../../fonts/avengeance-mightiest-avenger/avengeance-mightiest-avenger.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Black';
	src: url("../../fonts/roboto/roboto-black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Black Italic';
	src: url("../../fonts/roboto/roboto-black-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Bold';
	src: url("../../fonts/roboto/roboto-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Bold Italic';
	src: url("../../fonts/roboto/roboto-bold-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Italic';
	src: url("../../fonts/roboto/roboto-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Font Awesome Solid';
	src: url("../../fonts/font-awesome/fa-solid-900.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Font Awesome Brands';
	src: url("../../fonts/font-awesome/fa-brands-400.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Font Awesome Regular';
	src: url("../../fonts/font-awesome/fa-regular-400.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
  	font-display: swap;
}
.fas {
	font-family: 'Font Awesome Solid';
	font-weight: 900;
}
.fab {
	font-family: 'Font Awesome Brands'; 
	font-weight: 400;
}
.fa {
	font-family: 'Font Awesome Regular';
	font-weight: 400;
}
