/* fonts ------------------------------ */

@font-face {
	font-family: 'Proxima Nova';
	src: url("../../fonts/proxima-nova/proxima-nova-reg.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url("../../fonts/proxima-nova/proxima-nova-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Italic';
	src: url("../../fonts/proxima-nova/proxima-nova-reg-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bold Italic';
	src: url("../../fonts/proxima-nova/proxima-nova-bold-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt Bold';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt Condensed Semibold';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-semibold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Alt Black';
	src: url("../../fonts/proxima-nova/proxima-nova-alt-black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Spinner Rack Regular';
	src: url("../../fonts/spinner-rack/spinner-rack-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Spinner Rack Italic';
	src: url("../../fonts/spinner-rack/spinner-rack-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Spinner Rack Bold Italic';
	src: url("../../fonts/spinner-rack/spinner-rack-bold-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Black';
	src: url("../../fonts/roboto/roboto-black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Black Italic';
	src: url("../../fonts/roboto/roboto-black-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Bold';
	src: url("../../fonts/roboto/roboto-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Bold Italic';
	src: url("../../fonts/roboto/roboto-bold-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Italic';
	src: url("../../fonts/roboto/roboto-italic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Font Awesome Solid';
	src: url("../../fonts/font-awesome/fa-solid-900.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Font Awesome Brands';
	src: url("../../fonts/font-awesome/fa-brands-400.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Font Awesome Regular';
	src: url("../../fonts/font-awesome/fa-regular-400.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
  	font-display: swap;
}

.fas {
	font-family: 'Font Awesome Solid';
	font-weight: 900;
}
.fab {
	font-family: 'Font Awesome Brands'; 
	font-weight: 400;
}
.fa {
	font-family: 'Font Awesome Regular';
	font-weight: 400;
}
