/* home ------------------------------- */

.home {
	.home-header {
		h1 {
			font-size: $h1-font-size / 1.15;
			margin-bottom: $spacer-base;
			.brand-name {
				display: inline-block;
				width: 100%;
				text-align: right;
				margin-top: $spacer-small;
				.big {
					font-size: $h1-font-size * 1.4;
					color: $h2-font-color;
				}
			}
		}
	}
 
	.main-navigation {
		background-position: 0 0;
		border-bottom: $home-intro-border;
	}

	.intro {
		background: transparent;
		border: 0;
		padding: 1rem 0 2rem;
		h1:not(:focus):not(:active) {
			color: $white;
			@include visually-hidden;
		}
		
		.blurb {
			p {
				@include comic-book-font-p;
				font-size: $h4-font-size;
				margin-bottom: 1rem;
			}
			a {
				color: $white;
			}
		}
		.whats-new {}
	}
	
	.active-classes {
		background: white;
		.cell {
			padding: 1rem 3rem;
		}
		.grid-container {
			padding: 0;
		}
		h2, p {
			margin-bottom: 0;
		}
		p {
		
		}
	}
	
	.blog-teasers {
		.item {
			padding: 0;
			margin-bottom: 1rem;
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */	
			p {
				margin-bottom: .5rem;
			}
			.btn {
				margin-bottom: 0;
			}
		}
		.img {
			border: $border-default;
			min-height: 8rem;
			margin-bottom: .5rem;
			background: transparent url("#{$blog-image-path}/foo.jpg") no-repeat center center;
			background-size: cover;
		}
		
		.comic-art-reduction {
			.img {
				background-image: url("#{$blog-image-path}/frank-robbins-desk.jpg");		
			}
		}
		.toth-v-rude {
			.img {
				background-image: url("#{$blog-image-path}/toth-v-rude/jonny-quest-panel.jpg");		
			}
		}
		.ames-lettering-guide {
			.img {
				background-image: url("#{$blog-image-path}/ames-guide/russell-t-davies.jpg");		
			}
		}
		.hand-lettering {
			.img {
				background-image: url("#{$blog-image-path}/hand-lettering/krazy-kat-2.jpg");		
			}
		}
	}	
	.twitter {
		.tweets {
			position: relative;
			width: 100%;
			height: auto;
			overflow-y: auto;
		}
	}	
}
