.section {
	padding: 2rem 0;
	border-bottom: 1px solid #ccc;
	background: #efefef;
	&.has-no-padding {
		padding: 0;
	}
	
	&.default {
		background: $section-intro-default;
		h2 {
			color: $white;
		}
		.default-content {
			h2 {
				color: $h2-font-color;
			}
		}
	}
	
	&.intro {
 		background: $white;
 		p {
 			margin-bottom: 0;
 		}
	}
	&.has-box-shadow-top {
		box-shadow: $box-shadow-top;
	}
}

.page-header {
	border-bottom: 1px solid #666;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	h1 {
		margin: 0;
	}
	h2 {}
	p {
		margin-bottom: 0;
		.author {}
		.dateline {}
		.updated {}
	}
}

.book-title, 
.magazine-title, 
.art-title, 
.show-title, 
.tv-show-title, 
.company-name {
	font-family: $font-family-italic;
}

h1, h2, h3, h4, blockquote {
	.book-title, 
	.magazine-title, 
	.art-title, 
	.show-title, 
	.tv-show-title, 
	.company-name {
		font-family: $font-family-bold-italic;
	}
}


/* column list styles ----------------- */

@mixin bordered-header {
	border-top: $border-default;
	padding-top: 1rem;
	margin: .5rem 0;
}

.column-list {
	h2 {
		@include bordered-header;
		margin-bottom: 0;
		
		&:first-child, &:first-of-type {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
		
	}
}


/* picture-figure text wrapping ------- */

.picture-wrapper {
	position: relative !important;
	margin-bottom: $spacer-base-vertical;
	&.full {
		img {
			width: 100%;
		}
	}
	
	&.left {
		float: left;
		margin-right: 2rem;
	}
	&.right {
		float: right;
		margin-left: 2rem;
	}
	&.half {
		width: 50%;
	}
	&.third {
		width: 33%;
	}
	&.quarter {
		width: 25%;
	}
	&.centered {
		text-align: center;
	}
	img {
		margin-bottom: .5rem;
	}
	p {
		margin-bottom: .5rem;
		font-family: $font-family-italic;
		line-height: 1.4rem;
	}
	&.has-border {
		border-bottom: $border-default;
		img {
			border: $border-default;
		}
	}
	&.has-frame {
		img {
			border: $border-default;
			background: white;
			padding: .5rem;
		}
	}	
}
@media (max-width: 640px) { 
	.picture-wrapper {
		&.half, &.third, &.quarter, img {
			width: 100%;
		}
	}
}


@media (max-width: 800px) { 
	.schedule-table {
		.location, .city, .days, .dates, .times, .tuition, .credits, .registration, .course-name  {
			width: auto;
		}
	}
}

@media (max-width: 570px) {
	.table th, 
	.table td {
		display: block;
		padding: 5px;
		text-align: auto;
	}
	.table td::before {
		content: attr(data-header);
		font-weight: bold;
		display: inline-block;
		width: 50%;
		text-align: right;
		padding-right: 1rem;
	}
	.table th {
		text-align: left;
		background-color: #eee;
		padding: 5px;
	}
	.table th[scope="col"] {
		display: none;
	}
	.schedule-table {
		.location, .city, .days, .dates, .times, .tuition, .credits, .registration  {
			text-align: inherit;
		}
	}
}
