/* layout ----------------------------- */

.section {
	padding: 2rem 0;
	border-bottom: 1px solid #ccc;
	background: #efefef;
	&.has-no-padding {
		padding: 0;
	}
	
	&.default {
		background: $section-intro-default;
		h2 {
			color: $white;
			margin-bottom: $spacer-base;
		}
		.default-content {
			h2 {
				color: $h2-font-color;
			}
		}
	}
	
	&.intro {
 		background: $white;
 		h1 {
 			margin-bottom: $spacer-small;
 		}
 		h2 {
 		}
 		p {
 			margin-bottom: 0;
 		}
	}
	&.has-box-shadow-top {
		box-shadow: $box-shadow-top;
	}
}

.page-header {
	border-bottom: $artboard-hr;
	padding-bottom: $spacer-base;
	margin-bottom: $spacer-large;
	h1 {
		margin-bottom: $spacer-base;
	}
	p {
		margin-bottom: 0;
		.author {}
		.dateline {}
		.updated {}
	}
}

.book-title, 
.magazine-title, 
.art-title, 
.show-title, 
.tv-show-title, 
.company-name {
	font-family: $font-family-italic;
}

.right-rail {
	h3 {
		color: $white;
		margin-top: 2rem;
		margin-bottom: $spacer-small;
	}
}

h1, h2, h3, h4, blockquote {
	.book-title, 
	.magazine-title, 
	.art-title, 
	.show-title, 
	.tv-show-title, 
	.company-name {
		font-family: $font-family-bold-italic;
	}
}
.break {
	display: block;
}

.dark-background {
	h3 {
		color: $dark-background-h3-font-color;
	}
	p {
		color: $dark-background-text-color;
	}
	a {
		color: $dark-background-link-color;
		&:hover {
			color: $dark-background-link-hover-color;
		}
		&:active {
			color: $dark-background-link-active-color;
		}
	}
	img {
		border: $border-light;
	}
}


/* column list styles ----------------- */

.column-list {
	h2 {
		border-top: 0;
		&:first-child, &:first-of-type {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	}
	h3 + h2 {
		margin-bottom: 0;
	}
}

/* art board -------------------------- */
.artboard {
	position: relative;
	border: 0;
	background: $artboard-background;
	padding: $artboard-padding;
	box-shadow: $artboard-combo-shadow;
	margin-bottom: 2rem;
	.rule, .rule-job-tracker {
		position: absolute;
		border: $artboard-border;
	}
	.top, .bottom, .left, .right {
		position: absolute;
		padding: 0;
	}
	.top, .bottom {
		width: 100%;
		height: $artboard-spacer;
		left: 0;
		.stamp, .book, .issue, .pg, .ticks {
			position: absolute;
			top: 0;
			background: transparent no-repeat 0 1rem;
			height: 50%;
		}
		.stamp {
			background-image: url("#{$layout-image-path}/artboard-stamp.png");
			left: 7rem;
			width: 133px;
		}
		.book {
			background-image: url("#{$layout-image-path}/artboard-book.png");
			left: 3rem;
			width: 50px;
		}
		.issue {
			background-image: url("#{$layout-image-path}/artboard-issue.png");
			left: 36%;
			width: 60px;
		}
		.pg {
			background-image: url("#{$layout-image-path}/artboard-pg.png");
			left: 68%;
			width: 40px;
		}
		.ticks {
			background-image: url("#{$layout-image-path}/artboard-ticks.png");
			width: 30px;
			&.left {
				left: 33%;
			}
			&.center {
				left: 48%;
			}
			&.right {
				right: 33%;
			}
		}		
		.rule {
			left: 0;
			top: 50%;
			width: 100%;
		}
		.rule-job-tracker {
			left: 8%;
			top: 39%;
			width: 84%;
		}
	}
	.left, .right {
		width: $artboard-spacer;
		height: 100%;
		top: 0;
		.rule {
			top: 0;
			left: 50%;
			height: 100%;
		}
	}
	
	.top {
		top: 0;
		.ticks {
			top: 10%;
		}
	}
	.bottom {
		bottom: 0;
		.stamp, .book, .issue, .pg, .ticks {
			bottom: 0;
			top: auto;
		}
		.ticks {
			bottom: 14%;
		}
	}
	.left {
		left: 0;
	}
	.right {
		right: 0;
	}
		
	.newspaper-columns {
		column-rule: none;
		margin-bottom: 0;
	
		.text {
			padding: 0;
		}
		.item {
			padding: 0;
			display: flow-root;
			@include unbroken;
		}
	}
	.newspaper-headline {
		margin-bottom: 0;
	}
	.post-it {
		box-shadow: $box-shadow-white-bg;
	}
}

.studio-category {
	border-top: $artboard-hr;
	padding-top: $spacer-base;
	margin-top: $spacer-large;
	
	.item {
		padding: 0;
		&:last-child {
			border: 0;
		}
	}
}

@media (max-width: 800px) { 
	.schedule-table {
		.location, .city, .days, .dates, .times, .tuition, .credits, .registration, .course-name  {
			width: auto;
		}
	}
}

@media (max-width: 576px) {
	.table th, 
	.table td {
		display: block;
		padding: 5px;
		text-align: left;
	}
	.table td:last-child {
		border: 0;
		margin-bottom: 1rem;
	}
	.table td::before {
		content: attr(data-header);
		font-family: "Proxima Nova Bold";
		display: inline-block;
		width: 50%;
		text-align: left;
		padding-right: 1rem;
	}
	.table th {
		text-align: left;
		background-color: #eee;
		padding: 5px !important;
	}
	.table th[scope="col"] {
		display: none;
	}
	.schedule-table {
		.location, .city, .days, .dates, .times, .tuition, .credits, .registration  {
			text-align: inherit;
		}
	}
}
