/* responsive ------------------------- */

@media (max-width: 360px) {
	body {
		padding-top: $main-nav-height-mobile; 
	}
	.section {
		padding: 1rem 0;
	}
	.main-navigation {
		.navbar {
			.navbar-brand-stack {
				.navbar-brand {
					width: 15rem;
					height: 3rem;			
					margin-right: 0;
					background-position: center center;
				}
				.slogan {
					display: none;
				}
			}
			.navbar-nav li {
				font-size: 90%;
			}			
		}
	}
}

@media (min-width: 361px) and (max-width: 576px) {
	body {
		padding-top: $main-nav-height-mobile; 
	}
	.section {
		padding: 1rem 0;
	}	
	.main-navigation {
		.navbar {
			.navbar-brand-stack {
				padding: 0;
				justify-content: center;
				.navbar-brand {
					width: 20rem;
					height: 3rem;			
					margin-right: 0;
					background-position: center center;
				}
				.slogan {
					display: none;
				}
			}	
		}
	}
}

@media (max-width: 576px) {
	.artboard {
		padding: 3rem;
		.left, .right {
			width: $artboard-spacer-mobile;
		}
		.top, .bottom {
			height: $artboard-spacer-mobile;
		}
		.top {
			.stamp {
				background-position: 0 bottom;
				background-size: 75%;
				left: 2rem;
			}
			.book, .issue, .pg {
				display: none;
			}
		}
	}
	.schedule {
		.schedule-table {
			.location, .city, .dates, .semester, .days, .times, .tuition, .credits {
				width: auto !important;
				text-align: inherit;
			}
		}
	}
	
	.blog article figure figcaption .caption-credit {
		display: none;
	}
}

@media (max-width: 768.98px) { 
	.page-not-found {
		section {
		&.content {
				padding: 1rem;
				margin-bottom: 0;
				h1 {
					font-size: 10rem;
					line-height: 10rem;
					margin-bottom: .5rem;
				}
			}
		}
	}
	.footnote {
		&.mla {
			a {
				white-space: normal;
			}
		}  
	}
}

@media (max-width: 991px) {
	.newspaper-columns {
		column-count: 1;
		column-gap: 0;
		column-rule: 0;
	}
	
	.class-nav, .col-nav {
		dd {
			display: inline-block;
			margin-right: .5rem;
			&:after {
				padding-left: .5rem;
				content: "/";
			}
			&:last-child, &:last-of-type {
				&:after {
					display: none;
				}
			}
		}
	}
	.col-row  {
		.col-nav {
			order: -1;
			.sticky-top {
				position: static;
			}
			.post-it {
				dt, .active {
					display: none;
				}
			}
		}
	}
}


@media (min-width: 992px) {
	.class-nav, .col-nav {
		.navbar-collapse {
			display: block !important;
		}
		.class-nav-toggler, .col-nav-toggler {
			display: none;
		}
	}	
}