/* responsive ------------------------- */

@media (max-width: 360px) {
	body {
		padding-top: $main-nav-height-mobile; 
	}
	.section {
		padding: 1rem 0;
	}
	.main-navigation {
		.navbar {
			.navbar-brand-stack {
				.navbar-brand {
					width: 15rem;
					height: 3rem;			
					margin-right: 0;
					background-position: center center;
				}
				.slogan {
					display: none;
				}
			}
			.navbar-nav li {
				font-size: 90%;
			}			
		}
	}
}

@media (min-width: 361px) and (max-width: 576px) {
	body {
		padding-top: $main-nav-height-mobile; 
	}
	.section {
		padding: 1rem 0;
	}	
	.main-navigation {
		.navbar {
			.navbar-brand-stack {
				padding: 0;
				justify-content: center;
				.navbar-brand {
					width: 17rem;
					height: 3rem;			
					margin-right: 0;
					background-position: center center;
				}
				.slogan {
					display: none;
				}
			}	
		}
	}
}

@media (max-width: 576px) {
	.navbar-nav {
		.dropdown-menu {
			position: absolute;
			top: 3rem;
			right: 0;
		}
	}
	.artboard {
		padding: 3rem;
		.left, .right {
			width: $artboard-spacer-mobile;
		}
		.top, .bottom {
			height: $artboard-spacer-mobile;
		}
		.top {
			.stamp {
				background-position: 0 bottom;
				background-size: 75%;
				left: 2rem;
			}
			.book, .issue, .pg {
				display: none;
			}
		}
	}
	
	h1, .h1 {
		font-size: $h1-font-size / 1.2;
		line-height: $h1-line-height / 1.3;
		margin-bottom: $spacer-small;
	}
	h2, .h2 {
		font-size: $h2-font-size / 1.3;
		line-height: $h2-line-height / 1;
	}
	.home {
		.section.default .default-content h2, 
		.section.default .default-content .h2 {
			display: none;
		}
		.home-header {
			h1 {
				font-size: $h1-font-size / 2;
				.brand-name {
					white-space: normal;
				}
			}
		}
	}
	
	table, .table {
		th, td {
			display: block;
			padding: .5rem;
		}
		td {
			&:before {
				content: attr(data-header);
				font-weight: bold;
				display: inline-block;
				width: 50%;
				text-align: right;
				padding-right: 1rem;
			}
		}
		th {
			text-align: left;
			background-color: $item-bg;
			padding: 5px;
			&[scope="col"] {
				display: none;
			}
		}
		tfoot {
			td {
				padding: .5rem 0;
				&:before {
					content: normal;
				}
			}
		}	
	}	

	.schedule {
		.schedule-table {
			.location, .city, .dates, .semester, .days, .times, .tuition, .credits {
				width: auto !important;
				text-align: inherit;
			}
		}
	}
	
	.blog article figure figcaption .caption-credit {
		display: none;
	}
	
	.tile-cards {
		margin-bottom: 2rem;
		.tile-card {
			min-height: auto;
		}
	}
	
	.feature-story-card {
		.text {
			.header {
				font-size: $h2-font-size / 1.3;
				line-height: $h2-line-height / 1;
				&.header-3 {
					font-size: $h2-font-size;
					line-height: $line-height-base;
				}
			}
		}
	}
	.story-group-blade {
		.feature-story-card {
		}
		.story-group-row.tile-cards {
			flex-wrap: wrap;
			.item {
   				flex: 1 1 auto;
				border-bottom: $border-default;
				&:not(:first-child):before {
					background: none;
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
	.multi-link {
		.icon {
			display: none;
		}
		.text {
			padding: 0;
			ul {
				margin-top: 1rem;
				li {
					line-height: 1.2rem;
					&::after {

					}
				}
			}
		}
	}
	
	.link-list {
		&.two-column, 
		&.three-column,
		&.four-column {
			ul {
				column-count: 1;
			}
		}
	}
	
	ul, ol {
		&.two-column,
		&.three-column,
		&.four-column {
			column-count: 1;
		}	
	}
	
	
	.picture-wrapper, figure {
		&.left, &.float-start {
			float: none;
			margin-right: 0;
		}
		&.right, &.float-end {
			float: none;
			margin-left: 0;
		}
	}	
}

@media (max-width: 768.98px) { 
	.page-not-found {
		section {
		&.content {
				padding: 1rem;
				margin-bottom: 0;
				h1 {
					font-size: 10rem;
					line-height: 10rem;
					margin-bottom: .5rem;
				}
			}
		}
	}
	.footnote {
		&.mla {
			a {
				white-space: normal;
			}
		}  
	}
	
	.home {
		.home-header {
			h1 {
				font-size: $h1-font-size / 1.3;
				line-height: $h1-line-height / 1.3;
				margin-bottom: $spacer-small;
				word-spacing: normal;
				.brand-name {
					white-space: normal;
					font-size: inherit;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.newspaper-columns {
		column-count: 1;
		column-gap: 0;
		column-rule: 0;
	}
	
	.class-nav, .col-nav {
		dd {
			display: inline-block;
			margin-right: .5rem;
			&:after {
				padding-left: .5rem;
				content: "/";
			}
			&:last-child, &:last-of-type {
				&:after {
					display: none;
				}
			}
		}
	}
	.col-row  {
		.col-nav {
			order: -1;
			.sticky-top {
				position: static;
			}
			.post-it {
				dt, .active {
					display: none;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.class-nav, .col-nav {
		.navbar-collapse {
			display: block !important;
		}
		.class-nav-toggler, .col-nav-toggler {
			display: none;
		}
	}	
}