/* schedule --------------------------- */

.schedule {
	.content {
		h3 {
			margin-bottom: 0;
		}
	}
	.schedule-table {
		margin-bottom: 2rem;
		.location {
			width: auto;
		}
		.city {
			width: 12%;
		}
		.dates, .semester {
			width: 14%;
		}
		.days {
			width: 12%;
		}
		.times {
			width: 14%;
		}
		.tuition {
			width: 5%;
			text-align: right;
		}
		.credits {
			width: auto;
			text-align: center;
		}
		.registration {
			width: auto;
		}
	
		&#massart-fall-2021 {
			.course-name {
				width: auto;
			}
			.location {
				width: 10%;
			}
			.semester {
				width: 10%;
			}
			.days {
				width: 10%;
			}
			.times {
				width: 15%;
			}
			.credits {
				width: 5%;
			}
		}
	}
	
	.semester-grid {
		.session-header {
			h3 {
				@include newspaper-headline;
				margin-bottom: 0;
			}
			h4 {
				font-family: $font-family-base;
				font-size: $font-size-small;
			}
			&.first {
				h3 {
					border-top: 0;
					padding-top: 0;
					margin-top: 0;
				}
			}
		}
	}
}
