/* utility classes -------------------- */

.hashtag {
	color: $white;
}

.byline, .timestamp {
	font-size: $font-size-small;
	color: $caption-color;
	text-align: left;
	margin-bottom: 0;
	.author {
		font-family: $font-family-headers;
		margin-right: $spacer-small;
	}
	.date {
		a {
			font-family: $font-family-base;
		}
		time {
			&.entry-date {}
			&.updated {
			}
		}
	}
}

.page-not-found {
	section {
		&.content {
			background: url("#{$layout-image-path}/404-bg.jpg") no-repeat 0 center;
			background-size: cover;
			padding: 0;
			padding: 5rem 0;
			h1 {
				font-size: 20rem;
				line-height: 20rem;
				margin-bottom: 0;
				text-align: center;
			}
		}
	}
}

.lightbox {
	.lb-outerContainer {
		.lb-container {
			.lb-image {}
			.lb-nav {
				.lb-prev {}
				.lb-next {}
			}
			.lb-loader {
				.lb-cancel {}
			}
		
		}
	}
	.lb-dataContainer {
		.lb-data {
			.lb-details {
				.lb-caption {
					font-size: $font-size-small;
					font-weight: normal;
				}
				.lb-number {
					font-size: $font-size-small;
					font-weight: normal;
				}
			}
			.lb-closeContainer {
				.lb-close {}
			}
		}
	}
}

.has-right-link {
	display: flex;
	align-items: center;
	margin: 0 0 0.5rem;
	a {
		margin-left: auto;
		font-family: $font-family-bold;
		font-size: $font-size-base;
		text-decoration: none;
		text-transform: uppercase;
		color: $link-color;
		&:hover {
			color: $link-hover-color;
		}
		&:active {
			color: $link-active-color;
		}
	}
	.fas, .fa-solid {
		margin-left: 0;
		&:before {
			font-family: 'Font Awesome Solid';
			content: $icon-learn-cta;
		}
	}
}

.list-header {
	padding-bottom: $spacer-small;
	margin-bottom: $spacer-small;				
	border-bottom: $artboard-list-header-border;
	.list-name {
		font-family: $font-family-headers;
		font-weight: normal;
		text-transform: uppercase;
		color: $headings-color;
		line-height: 1.1rem;
	}
	.list-description {
		font-family: $font-family-base;
		text-transform: none;
		color: $text-color;
	}
}

.social {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	flex-basis: auto;
	li, dd {
		background: transparent no-repeat 0 0;
		&:not(:last-child) {margin-right: 0;}
		a {
			text-decoration: none;
			color: $icon-link-color;
			display: inline-block;
			height: 1rem;
			width: 1rem;
			line-height: 1rem;
		}
		&:hover a {
			fill: $icon-link-color-hover;
			filter: invert(50%) sepia(100%) saturate(2%) hue-rotate(90deg) brightness(103%) contrast(100%);
		}
		&:active a {
			color: $icon-link-color-active;
		}
	}
	.facebook a {
		background: $icon-facebook;
	}
	.bluesky a {
		background: $icon-bluesky;
	}
	.email a {
		background: $icon-email;
	}
	.linkedin a {
		background: $icon-linkedin;
	}
	.youtube a {
		background: $icon-youtube;
	}
	.github a {
		background: $icon-github;
	}
	.follow-me {
		padding-left: 0;
		margin-right: .5rem;
	}
}
.back-to-top {
	padding: .5rem 0;
	text-align: right;
	.fas {
		color: $icon-link-color;
		margin-left: .5rem;
		&:before {
			content: $icon-back-to-top;
		}
	}
	&:hover {
		.fas {
			color: $icon-link-color-hover;
		}
	}
	&:active {
		.fas {
			color: $icon-link-color-active;
		}
	}
}

.cta {
	font-family: $font-family-bold;
	font-size: $h4-font-size;
	line-height: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: $cta-link-color;
	.fas, .fa-solid {
		&:before {
			font-family: 'Font Awesome Solid';
			content: $icon-learn-cta;
		}
	}
	&:after {
		font-family: 'Font Awesome Solid';
		font-size: $font-size-base;
		content: $icon-list-link;			
		color: $link-color;
		margin-left: $spacer-small;
	}
	&:hover {
		color: $cta-link-hover-color;
	}
	&:active {
		color: $cta-link-active-color;
	}
}

.btn-row {
	margin-bottom: 1rem;
}

.button-backtotop {
	border: 1px solid red;
	padding: 2rem;
	background: blue;
	color: red;
    opacity: 0;
    transition: opacity .5s linear;
	&.active, 
	&:focus {
		opacity: 1;
	}
}

.video {
	width: 100%;
	iframe {
		aspect-ratio: 16 / 9;
	}
	
	&.embed-4x3 {
		iframe {
			aspect-ratio: 4 / 3;
		}
	}
	&.embed-3x2 {
		iframe {
			aspect-ratio: 3 / 2;
		}
	}
}

.list-inline {
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: .5rem;
		}
	}
}
.list-unstyled {
	li {
		&:not(:last-child) {
			margin-bottom: $spacer;
		}
	}
}
.text, .item {
	padding: 1rem;
	margin-bottom: 1rem;
}
.truncated {
	position: relative;
	--lh: 1.4rem;
	line-height: var(--lh);
	--max-lines: 3;
	max-height: calc(var(--lh) * var(--max-lines));
	overflow: hidden;
	text-overflow: ellipsis;
	&::before {
	  content: "...";
	  position: absolute;
	  bottom: 0;
	  right: 0;
	}
	&::after {
	  content: "";
	  position: absolute;
	  right: 0; /* note: not using bottom */
	  width: 1rem;
	  height: 1rem;
	  background: white;
	}		
}

.newspaper-columns {
	column-count: 2;
	column-gap: 3rem;
	column-rule: $border-light;
	margin-bottom: 2rem;
}
.newspaper-headline {
	border-top: $border-default;
	padding-top: 1rem;
	margin: .5rem 0;
	&:first-child, &:first-of-type {
  		border-top: 0;
  		padding-top: 0;
  		margin-top: 0;
	}
}

.boxed {
	background: $white;
	padding: 2rem;
}

.has-box-shadow {
	box-shadow: $box-shadow-boxed;
}

.post-it {
	background-color: pink;
	box-shadow: $box-shadow-boxed;
	&.white-bg {
		box-shadow: $box-shadow-white-bg;
	}
	&.white {
		background-color: $white;
	}
	&.pink {
		background-color: #fbacc5;
	}
	&.yellow {
		background-color: #f9efaa;
	}
	&.blue {
		background-color: #bee5e4;
	}
	&.green {
		background-color: #dee9a4;
	}
	&.orange {
		background-color: #fddbb8;
	}
	
	&.sticky-notes-pink {
		background-color: #ef65a3;
	}
	&.sticky-notes-orange {
		background-color: #ffad64;
	}
	&.sticky-notes-yellow {
		background-color: #fee63b;
	}
	&.sticky-notes-green {
		background-color: #d2de40;
	}
	&.sticky-notes-teal {
		background-color: #37d2d8;
	}

	&.jaipur-blue {
		background-color: #1dace6;
	}
	&.jaipur-teal {
		background-color: #35a8a1;
	}
	&.jaipur-orange {
		background-color: #ee5f35;
	}
	&.jaipur-pink {
		background-color: #f37d93;
	}
	&.jaipur-yellow {
		background-color: #ffd938;
	}

	&.neon-pink {
		background-color: #ef65a3;
	}
	&.neon-orange {
		background-color: #ffad64;
	}
	&.neon-yellow {
		background-color: #fee63b;
	}
	&.neon-green {
		background-color: #d2de40;
	}
	&.neon-teal {
		background-color: #37d2d8;
	}
	dl {
		margin-bottom: 0;
		dt {
			color: $h2-font-color;
			border-bottom: $border-transparent-black;
		}
	}
	h4 {
		color: $h2-font-color;
	}
	.cta {
		font-size: $font-size-base;
	}	
}

.side-nav {
	&.sticky-top {
		top: $main-nav-height + $spacer-base;		
	}
}

.class-nav, .col-nav {
	.class-nav-toggler, .col-nav-toggler {
		display: inline-block;
		margin-bottom: .5rem;
		color: $white;
		position: relative;	
		background: transparent no-repeat 0 0;
		padding-right: 0;
		&:before {
			font-family: 'Font Awesome Solid';
			content: $icon-class-nav;
		}
	}
}

.response {
	background: #ccc;
	padding: 1rem 2rem .25rem;
	margin-bottom: 1rem;
}

.diagrams {
	.diagram {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: $artboard-hr;
		&.img {
			text-align: center;
			.img-wrapper {
				position: relative; 
				max-width: 100%;
				height: auto;			
				margin: 0 auto;
				.diagram-label {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	&.ames-terminology {
		.img-wrapper {
			width: 30rem;
			.diagram-label {
				&.a {
					top: 41%;
					left: 66%;
				}
				&.b {
					top: 20%;
					left: 63%;
				}
				&.c {
					top: 4%;
					left: 56%;
				}
				&.d {
					top: 75%;
					left: 29%;
				}
				&.e {
					top: 81%;
					left: 47%;
				}
				&.f {
					top: 4%;
					left: 29%;
				}
				&.g {
					top: 20%;
					left: 76%;
				}
				&.h {
					top: 20%;
					left: 14%;
				}
			}			
		}
	}
	
	.legend {
		h2, h3 {
			position: relative;
			padding-left: 2.5rem;
			margin-bottom: 0;
			.diagram-label {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		p {
			padding-left: 2.5rem;
		}
	}
	
	&.img-has-border {
		.img {
			img {
				border: $border-default;
				padding: .5rem;
				margin-bottom: 1rem;
			}
		}
	}
	
	.diagram-label {
		display: inline-block;
		background: $demo-red;
		color: $white;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		text-align: center;
		font-size: 1.2rem;
		line-height: 2.1rem;
		font-family: $font-family-bold;
	}
}

.steps {
	.step {
		margin-bottom: 1rem;
		border-bottom: $border-default;
		padding-bottom: 2rem;
	}
}

.toth {
	p {
		font-family: $comic-book-font;
		font-size: $h5-font-size;
		line-height: $h5-font-size;
	}
	strong {
		font-family: $comic-book-font-bold-italic;
	}
	.signature {
		font-family: $comic-book-font-italic;
		text-align: right;
		margin-top: -1rem;
	}
	.response {
		p {
			font-family: $font-family-base;
			font-size: $font-size-base;
			line-height: $line-height-base;
		}
		strong {
			font-family: $font-family-headers;
		}
	}
}

.learn-more .fas {
	font-size: 2rem;
	margin-left: 1rem;
	&:before {
		content: $icon-learn-more;
	}
}

.learn-more {
	margin-left: .25rem;
	position: relative;
	a {
		white-space: nowrap;
		&:before {
			font-family: 'Font Awesome Solid';
			color: $icon-link-color;
			content: $icon-learn-more;
			position: absolute;
			top: 0;
			right: -1rem;
			
		}
	}
}

.twitter {
	.tweets {
		.twitter-tweet {
			margin-top: 0! important;
			margin-bottom: 1rem !important;
			width: auto! important;
			max-width: none !important;
			.r-1q9bdsx {
				border-radius: 0 !important;
			}
		}
	}
}

.footnote {
    border-top: $border-default;
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: 90%;
	ul {
		padding: 0;
		margin: 0;
		margin-bottom: 1rem;
			li {
				margin-bottom: .5rem !important;
			}
	} 
	&.mla {
		text-indent: -1rem;
    	padding-left: 1rem;
    	a {
    		white-space: nowrap;
    	}
    }  
}

.listings {
	.listing {
		margin-bottom: $spacer-base;
		dd {
			margin-bottom: 0;
		}
		dt, .company-title {
			width: 70%;
		}
		.company-info {
			margin-top: $spacer-small;
		}
	}
	&.boxed {
		padding: 0;
		h2 {
			padding-top: 1rem !important; 
			margin-top: 0 !important;
		}
		.listing {
			background: $white right $spacer-small top .5rem no-repeat;
			background-size: 25%;
			border: $border-default;
			border-top: rem(3px solid $black);
			padding: $spacer-base;
			min-height: 10rem;
			font-size: 90%;
			
			&.bedrock-comics {
				background-image: url("#{$logos-image-path}/bedrock-comics.png");
			}
			&.comicazi {
				background-image: url("#{$logos-image-path}/comicazi.png");
			}
			&.comicopia {
				background-image: url("#{$logos-image-path}/comicopia.png");
			}
			&.hub-comics {
				background-image: url("#{$logos-image-path}/hub-comics.png");
			}
			&.million-year-picnic {
				background-image: url("#{$logos-image-path}/million-year-picnic.png");
			}
			&.new-england-comics {
				background-image: url("#{$logos-image-path}/new-england-comics.png");
			}
			&.paper-asylum {
				background-image: url("#{$logos-image-path}/paper-asylum.png");
			}
			&.the-comic-stop {
				background-image: url("#{$logos-image-path}/the-comic-stop.png");
			}
			&.silver-moon-comics {
				background-image: url("#{$logos-image-path}/silver-moon.png");
			}
			&.the-outer-limits {
				background-image: url("#{$logos-image-path}/outer-limits-noir.png");
			}
			&.massart {
				background-image: url("#{$logos-image-path}/massart.jpg");
				background-size: 33%;
				background-position-y: 1rem;
				dt {width: 60%;}
			}
			&.artist-craftsman {
				background-image: url("#{$logos-image-path}/artist-craftsman.jpg");
			}
			&.dick-blick {
				background-image: url("#{$logos-image-path}/dick-blick.jpg");
				background-size: 40%;
				background-position-y: .5rem;
				dt {width: 60%;}
			}
			&.COMIC_BOOK_STORE {
				background-image: url("#{$logos-image-path}/COMIC_BOOK_STORE.png");
			}
		}
	}
}
