<!doctype html>
<html lang="en-US">
	<head>
		<!-- Copyright 1990-2025 Art of the Comic Book by Marshall Art Studio -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Art of the Comic Book: Component template</title>
		<meta name="application-name" content="Art of the Comic Book: Component template">
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="copyright 1990-2025 Art of the Comic Book">
		<meta name="description" content="Art of the Comic Book is a college-level studio workshop for making comics with traditional ink-on-paper media.">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, art of the comic book">
		
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-reg.woff" as="font" type="font/woff">		
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-bold.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-reg-italic.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-bold-italic.woff" as="font" type="font/woff">
		
		<link rel="preload" href="../assets/fonts/spinner-rack/spinner-rack-regular.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/spinner-rack/spinner-rack-italic.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/spinner-rack/spinner-rack-bold-italic.woff" as="font" type="font/woff">
		
		<link rel="preload" href="../assets/fonts/roboto/roboto-black.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/roboto/roboto-bold.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/roboto/roboto-bold-italic.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/roboto/roboto-italic.woff" as="font" type="font/woff">

		<link rel="preload" href="../assets/fonts/font-awesome/fa-solid-900.woff2" as="font" type="font/woff2">
		<link rel="preload" href="../assets/fonts/font-awesome/fa-brands-400.woff2" as="font" type="font/woff2">
		<link rel="preload" href="../assets/fonts/font-awesome/fa-regular-400.woff2" as="font" type="font/woff2">

		<link href="../assets/themes/art-of-comic/art-of-comic.css" type="text/css" rel="stylesheet">	
		<script src="../assets/themes/art-of-comic/art-of-comic.js" type="text/javascript"></script>
		<link href="../assets/img/brand/art-of-comic.ico" type="image/x-icon" rel="icon">
		
		<meta property="og:title"        content="Art of the Comic Book">
		<meta property="og:type"         content="website">
		<meta property="og:description"  content="Art of the Comic Book is ...">
		<meta property="og:url"          content="http://www.artofthecomicbook.com">
		<meta property="og:image"        content="http://www.artofthecomicbook.com/assets/img/open-graph/og-base.png">
	</head>
	<body>
		<div class="art-of-comic-2">
			<header class="fixed-top main-navigation">
				<div class="container">
					<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
					<nav class="navbar navbar-expand-lg">
						<div class="navbar-brand-stack">
							<a class="navbar-brand" href="/" rel="home" aria-label="Art of the Comic Book">Art of the Comic Book</a>
							<span class="slogan"><span class="hashtag">#MakeComics</span> with Traditional Media</span>
						</div>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="main-navigation">
							<ul class="navbar-nav bd-navbar-nav d-flex" role="menu">
								<li class="nav-item schedule" role="menuitem">
									<a href="/schedule/index.html" aria-label="schedule of comic book courses">Schedule</a>
								</li>
								<li class="nav-item about" role="menuitem">
									<a href="/about/index.html" aria-label="about instructor David Marshall">About</a>
								</li>
								<li class="nav-item studio is-active" role="menuitem">
									<a href="/studio/" aria-label="studio requirements">Studio</a>
									<ul class="dropdown-menu post-it yellow">
										<li><a class="dropdown-item" href="/assignments/">Assignments</a></li>
										<li><a class="dropdown-item" href="/production/">Production</a></li>
										<li><a class="dropdown-item" href="/process/">Creative process</a></li>
										<li><a class="dropdown-item" href="/art-supplies/">Art supplies</a></li>
									</ul>
								</li>
								<li class="nav-item blogs" role="menuitem">
									<a href="/blog/index.html" aria-label="blog">Blog</a>
								</li>
							</ul>
							<!-- placeholder for Search -->
						</div>
					</nav>
				</div>
			</header>
			<main id="main-content" class="main-content FOO">	
				<section class="section content default has-box-shadow-top">
					<div class="container">
						<div class="artboard default-content">
							<div class="top">
								<span class="rule-job-tracker"></span>
								<span class="rule"></span>
								<span class="book"></span>
								<span class="issue"></span>
								<span class="pg"></span>
								<span class="ticks left"></span>
								<span class="ticks center"></span>
								<span class="ticks right"></span>
								<span class="stamp"></span>
							</div>
							<div class="left"><span class="rule"></span></div>
							<div class="right"><span class="rule"></span></div>
							<div class="bottom">
								<span class="ticks left"></span>
								<span class="ticks center"></span>
								<span class="ticks right"></span>
								<span class="rule"></span>
							</div>
					
							<div class="page-header">
								<h1>Component template</h1>
								<h2><span class="date-range">2025</span> Reusable content presentation modules</h2>
								<p>Inspired by Matt Walker and the Connecticut state design system</p>
							</div>
							
							<section class="components">
								<h2>Feature Story Card component</h2>
								<p>Following our "visual, headline, description, call-to-action link" format. The visual can be an image or video. The row can be divided in halfs, thirds, or quarters.</p>
								<div class="feature-story-card">
									<div class="row">
										<div class="col-lg-6 image">
											<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
										</div>
										<div class="col-lg-6 text">
											<div class="header">Feature Story Card: Halfs</div>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
											<p class="cta">
												<a href="#" rel="noopener noreferrer" target="_blank" aria-label="">CTA</a>
											</p>
										</div>
									</div>
								</div>
								<div class="feature-story-card">
									<div class="row">
										<div class="col-lg-4 image">
											<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
										</div>
										<div class="col-lg-8 text">
											<div class="header">Feature Story Card: Thirds</div>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
											<p class="cta">
												<a href="#" rel="noopener noreferrer" target="_blank" aria-label="">CTA</a>
											</p>
										</div>
									</div>
								</div>
								<div class="feature-story-card">
									<div class="row">
										<div class="col-lg-3 image">
											<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
										</div>
										<div class="col-lg-9 text">
											<div class="header">Feature Story Card: Quarters</div>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
											<p class="cta">
												<a href="#" rel="noopener noreferrer" target="_blank" aria-label="">CTA</a>
											</p>
										</div>
									</div>
								</div>
								
								<hr>
								<h2>Story Group Blade component</h2>
								<p>This organizes stories in groups, with a lead story followed by second-level stories. It has an optional group call-to-action.</p><br>
								
								<h2 class="has-right-link">
								Group of related stories
								<a href="comics/index.html" aria-label="FOO">Optional CTA <i class="fas"></i></a>
								</h2>									
								<div class="row story-group-blade">
									<div class="col-lg-6 story-group-lead">
										<div class="feature-story-card">
											<div class="row">
												<div class="col-lg-6 image">
													<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
												</div>
												<div class="col-lg-6 text">
													<div class="header">Lead story</div>
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
													<p class="cta">
														<a href="#" rel="noopener noreferrer" target="_blank" aria-label="">CTA</a>
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 story-group-row tile-cards no-image">
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE Duis autem vel</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer.</span>
											</a>
										</div>
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer.</span>
											</a>
										</div>
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer.</span>
											</a>
										</div>
									</div>	
								</div>
																
								<hr>
								<h2>Tile Card component</h2>
								<h3>Basic variant</h3>
								<p>Bare minimum elements: headline and call-to-action.</p>
								<div class="row tile-cards">
									<div class="col-lg-4">
										<a class="tile-card" href="#">
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-lg-4">
										<a class="tile-card" href="#">
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-lg-4">
										<a class="tile-card" href="#">
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
								</div>
								
								<h3>Icon variant</h3>
								<p>Visually distinctive cards for readers skimming on mobile devices.</p>
								<div class="row tile-cards icon-tiles">
									<div class="col-lg-4">
										<a class="tile-card" href="#">
											<span class="icon">
												<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
											</span>
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-lg-4">
										<a class="tile-card" href="#">
											<span class="icon">
												<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
											</span>
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-lg-4">
										<a class="tile-card" href="#">
											<span class="icon">
												<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
											</span>
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
								</div>
								
								<hr>
								<h2>Feature card component</h2>
								<h3>Link in headline variant</h3>
								<p>Directly written headlines avoid the burden of CTA wording.</p>
								<div class="row feature-cards">
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header"><a href="#">HEADLINE with link</a></span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header"><a href="#">HEADLINE with link</a></span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header"><a href="#">HEADLINE with link</a></span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
								</div>

								<h3>Link in call-to-action variant</h3>
								<p>Follows the "visual, headline, description, call-to-action" format of other components.</p>
								<div class="row feature-cards">
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">DESCRIPTION</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">DESCRIPTION</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">DESCRIPTION</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
								</div>
								
								<h3>Background variant</h3>
								<p>This extra element might be needed on certain page layouts.</p>
								<div class="row feature-cards with-background">
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">DESCRIPTION</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">DESCRIPTION</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">DESCRIPTION</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
								</div>								
								
								<hr>
								<h2>Video component</h2>
								<p>Based on the feature cards. This is the default 16:9 aspect ratio for modern videos.</p>
								<div class="row feature-cards">
									<div class="col-lg-4">
										<div class="feature-card video">
											<iframe 
												src="https://www.youtube.com/embed/stnemarYqkg" 
												title="" 
												aria-label="" 
												width="" height="" 
												frameborder="0" 
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
												allowfullscreen>
											</iframe>
											<div class="text">
												<span class="header">Default 16:9 aspect ratio</span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card video">
											<iframe 
												src="https://www.youtube.com/embed/n8C8ehploOI" 
												title="" 
												aria-label="" 
												width="" height="" 
												frameborder="0" 
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
												allowfullscreen>
											</iframe>
											<div class="text">
												<span class="header">Default 16:9 aspect ratio</span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card video">
											<iframe 
												src="https://www.youtube.com/embed/3rQLviT1O00" 
												title="" 
												aria-label="" 
												width="" height="" 
												frameborder="0" 
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
												allowfullscreen>
											</iframe>
											<div class="text">
												<span class="header">Default 16:9 aspect ratio</span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
								</div>
								
								<h3>Custom 4:3 aspect ratio</h3>
								<p>This variant renders older videos as they were meant to be displayed.</p>
								<div class="row feature-cards">
									<div class="col-lg-4">
										<div class="feature-card video embed-4x3">
											<iframe 
												src="https://www.youtube.com/embed/stnemarYqkg" 
												title="" 
												aria-label="" 
												width="" height="" 
												frameborder="0" 
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
												allowfullscreen>
											</iframe>
											<div class="text">
												<span class="header">Custom 4:3 aspect ratio</span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card video embed-4x3">
											<iframe 
												src="https://www.youtube.com/embed/n8C8ehploOI" 
												title="" 
												aria-label="" 
												width="" height="" 
												frameborder="0" 
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
												allowfullscreen>
											</iframe>
											<div class="text">
												<span class="header">Custom 4:3 aspect ratio</span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="feature-card video embed-4x3">
											<iframe 
												src="https://www.youtube.com/embed/3rQLviT1O00" 
												title="" 
												aria-label="" 
												width="" height="" 
												frameborder="0" 
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
												allowfullscreen>
											</iframe>
											<div class="text">
												<span class="header">Custom 4:3 aspect ratio</span>
												<span class="description">DESCRIPTION</span>
											</div>
										</div>
									</div>
								</div>														
								
								<hr>
								<h2>Multi Link Card component</h2>
								<p>This adds multiple links to our established "visual, headline, description" format.</p>
								<div class="multi-link">
								<div class="icon">
									<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
								</div>
								<div class="text">
									<h2>TITLE</h2>
									<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</p>
									<ul>
										<li><a href="#">LINK</a></li>
										<li><a href="#">LINK</a></li>
										<li><a href="#">LINK</a></li>
									</ul>
								</div>
								</div>
								
								<hr>
								<h2>Image component</h2>
								<p>Variations with and without borders on image and bottom of component. The optional caption is in a single font style, the text of which can be hyperlinked. </p>
								<div class="row">
									<div class="col-lg-4">
										<figure class="images-have-border">
											<picture>
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</picture>								
											<figcaption class="figure-caption">Border on image and under caption </figcaption>
										</figure>							
									</div>
									<div class="col-lg-4">
										<figure class="no-border">
											<picture>
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</picture>								
											<figcaption class="figure-caption">Image and caption without border</figcaption>
										</figure>							
									</div>
									<div class="col-lg-4">
										<figure class="no-border images-have-border">
											<picture>
												<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
											</picture>								
											<figcaption class="figure-caption">Image has border, caption doesn't</figcaption>
										</figure>							
									</div>
								</div>
								<br>
								<h3>Images with text wraparounds</h3>
								<p>This variant uses Bootstrap controls for responsive widths while retaining our custom image styling.</p>
								<figure class="images-have-border float-start col-md-3 no-border">
									<picture>
										<img src="../assets/img/studio/foo.jpg" alt="placeholder" />
									</picture>								
									<figcaption class="figure-caption">Border on image and under caption </figcaption>
								</figure>							
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>
								<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

								<hr>
								<h2>Link Lists</h2>
								<p>Categorized groupings of links that would otherwise seem random and intimidating to the user. Variations include optional list descriptions and CTAs.</p><br>
								<div class="row">
									<div class="col-lg-4">
										<dl class="link-list">
											<dt>Link list</dt>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
										</dl>
									</div>
									<div class="col-lg-4">
										<dl class="link-list">
											<dt>
												Link list
												<span>with optional list description</span>
											</dt>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
										</dl>
									</div>
									<div class="col-lg-4">
										<dl class="link-list has-cta">
											<dt>
												Link list
												<span>with optional call-to-action</span>
											</dt>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
										</dl>
										<p><a href="#" class="cta">View all</a></p>
									</div>
								</div>
								
								<h3>Multicolumn variants</h3>
								<p>Splitting a single-category list into multiple columns avoids awkward white space.</p>
								<div class="link-list two-column">
									<div class="header">
										<div class="list-name">Two-column link list</div>
										<div class="list-description">Optional list description</div>
									</div>
									<ul>
										<li><a href="#">First item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Second item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Fourth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
									</ul>
								</div>
								
								<div class="link-list three-column">
									<div class="header">
										<div class="list-name">Three-column link list</div>
									</div>
									<ul>
										<li><a href="#">First item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Second item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Fourth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Fifth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Seventh item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eighth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Tenth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eleventh item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
									</ul>
								</div>
								<div class="link-list four-column">
									<div class="header">
										<div class="list-name">Four-column link list</div>
									</div>
									<ul>
										<li><a href="#" >First item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Second item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Fourth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Fifth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Seventh item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eighth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Tenth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eleventh item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
									</ul>
								</div>
								
								<hr>
								<h2>Unordered lists</h2>
								<p>Leveraging styles from the link lists for content without single-line hyperlinks.</p><br>
								<div class="list-header">
									<div class="list-name">Two-column unordered list</div>
								</div>
								<ul class="two-column">
									<li>First item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Second item: Sin vulputate velit esse molestie</li>
									<li>Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Fourth item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Fifth item: Sin vulputate velit esse molestie</li>
									<li>Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Seventh item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Eighth item: Sin vulputate velit esse molestie</li>
									<li>Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Tenth item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Eleventh item: Sin vulputate velit esse molestie</li>
									<li>Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
								</ul>									
								
								<div class="list-header">
									<div class="list-name">Three-column unordered list</div>
								</div>
								<ul class="three-column">
									<li>First item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Second item: Sin vulputate velit esse molestie</li>
									<li>Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Fourth item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Fifth item: Sin vulputate velit esse molestie</li>
									<li>Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Seventh item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Eighth item: Sin vulputate velit esse molestie</li>
									<li>Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Tenth item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Eleventh item: Sin vulputate velit esse molestie</li>
									<li>Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
								</ul>									

								<div class="list-header">
									<div class="list-name">Four-column unordered list</div>
								</div>
								<ul class="four-column">
									<li>First item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Second item: Sin vulputate velit esse molestie</li>
									<li>Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Fourth item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Fifth item: Sin vulputate velit esse molestie</li>
									<li>Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Seventh item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Eighth item: Sin vulputate velit esse molestie</li>
									<li>Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
									<li>Tenth item: Duis autem vel eum iriure dolor in hendrerit</li>
									<li>Eleventh item: Sin vulputate velit esse molestie</li>
									<li>Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</li>
								</ul>									
								
								<hr>
								<h2>Text Styles</h2>
								<p>Born and raised in Springfield Massachusetts, Dave made his artistic debut at four creating Superman from a lump of children's clay, getting frustrated to the point of toddler rage trying to the diamond-shape logo right twice (front chest and back of cape). In later years he discovered Marvel comics from the Silver and Bronze ages. As he grow older, analyzing the mechanics of artists (Jack Kirby, Steve Ditko, Wally Wood, John Buscema, Marie Severin, Joe Sinnott, Frank Giacoia), writers (Stan Lee, Roy Thomas, Steve Englehart, Steve Gerber) and letterers (Artie Simek, Sam Rosen, and Tom Orzechowski) made him think he could be a professional comics artist.</p>
								<p>By age 16 in 1978, operating under the influence of Pop-Tarts and How to Draw Comics the Marvel Way, Dave began making comic book art with professional tools in hopes of breaking into Marvel. Sadly the original art was lost in a series of self-made bonfires, but the process led to getting into Massachusetts College of Art. Studying comics art & technology history for his Senior Degree Project exposed Dave to the work of George Herriman, Alex Toth, Trina Robbins, and more. This energized my personal discoveries of Los Bros. Hernandez, June Tarpe Mills, Gladys Parker, and R. Crumb.</p>
								<p class="signature">Dave M!, giving you all I’ve got.</p>
							</section>
						</div>	
					</div>
				</section>				
			</main>			
			<footer>
				<div class="container">
					<p>&copy;2025 Marshall Art Studio. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from Marshall Art Studio nor may the information be used in any commercial venue without such prior written permission.</p>
					<ul class="list-inline social">
						<li class="follow-me d-none d-sm-inline-block">Follow me on </li>
						<li class="email"><a href="mailto:dsm@artofthecomicbook.com?subject=Tell me about Art of the Comic Book!" aria-label="Art of the Comic Book email"></a></li>
						<li class="linkedin"><a href="https://linkedin.com/in/illdave" target="_blank" rel="noopener noreferrer" aria-label="Dave Marshall's Linkedin"></a></li>
						<li class="bluesky"><a href="https://bsky.app/profile/illdave.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="Art of the Comic Book on Bluesky"></a></li>
						<li class="youtube"><a href="https://youtube.com/channel/UCaX8UPlxmAKMaYR1dwjHK3Q" target="_blank" rel="noopener noreferrer" aria-label="Art of the Comic Book demos on Youtube"></a></li>
					</ul>						
					<p class="back-to-top sr-only sr-only-focusable">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
		</div>
		<script src="../assets/themes/bootstrap-5/js/bootstrap.min.js"></script>
		<script src="../assets/lib/jquery/jquery-3.5.1.min.js"></script>
		<script src="../assets/lib/lightbox-2.11.1/js/lightbox.js"></script>
	</body>
</html>
