<!doctype html>
<html lang="en-US">
	<head>
		<!-- Copyright 1990-2022 Art of the Comic Book by Marshall Art Studio -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Art of the Comic Book: Page style template</title>
		<meta name="application-name" content="Art of the Comic Book: Page style template">
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="copyright 1990-2025 Art of the Comic Book">
		<meta name="description" content="Art of the Comic Book is a college-level studio workshop for making comics with traditional ink-on-paper media.">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, art of the comic book">
		
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-reg.woff" as="font" type="font/woff">		
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-bold.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-reg-italic.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/proxima-nova/proxima-nova-bold-italic.woff" as="font" type="font/woff">
		
		<link rel="preload" href="../assets/fonts/spinner-rack/spinner-rack-regular.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/spinner-rack/spinner-rack-italic.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/spinner-rack/spinner-rack-bold-italic.woff" as="font" type="font/woff">
		
		<link rel="preload" href="../assets/fonts/roboto/roboto-black.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/roboto/roboto-bold.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/roboto/roboto-bold-italic.woff" as="font" type="font/woff">
		<link rel="preload" href="../assets/fonts/roboto/roboto-italic.woff" as="font" type="font/woff">

		<link rel="preload" href="../assets/fonts/font-awesome/fa-solid-900.woff2" as="font" type="font/woff2">
		<link rel="preload" href="../assets/fonts/font-awesome/fa-brands-400.woff2" as="font" type="font/woff2">
		<link rel="preload" href="../assets/fonts/font-awesome/fa-regular-400.woff2" as="font" type="font/woff2">

		<link href="../assets/themes/art-of-comic/art-of-comic.css" type="text/css" rel="stylesheet">	
		<script src="../assets/themes/art-of-comic/art-of-comic.js" type="text/javascript"></script>
		<link href="../assets/img/brand/art-of-comic.ico" type="image/x-icon" rel="icon">
		
		<meta property="og:title"        content="Art of the Comic Book">
		<meta property="og:type"         content="website">
		<meta property="og:description"  content="Art of the Comic Book is ...">
		<meta property="og:url"          content="http://www.artofthecomicbook.com">
		<meta property="og:image"        content="http://www.artofthecomicbook.com/assets/img/open-graph/og-base.png">
	</head>
	<body>
		<div class="art-of-comic-2">
			<header class="fixed-top main-navigation" role="banner">
				<div class="container">
					<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
					<nav class="navbar navbar-expand-lg">
						<div class="navbar-brand-stack">
							<a class="navbar-brand" href="/" rel="home" aria-label="Art of the Comic Book">Art of the Comic Book</a>
							<span class="slogan"><span class="hashtag">#MakeComics</span> with Traditional Media</span>
						</div>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse justify-content-end" id="main-navigation">
							<ul class="navbar-nav bd-navbar-nav d-flex" role="menu">
								<li class="nav-item schedule" role="menuitem">
									<a href="/schedule/index.html" aria-label="schedule of comic book courses">Schedule</a>
								</li>
								<li class="nav-item about" role="menuitem">
									<a href="/about/index.html" aria-label="about instructor David Marshall">About</a>
								</li>
								<li class="nav-item studio is-active dropdown" role="menuitem">
									<a href="#" class="dropdown-toggle" aria-label="studio requirements" role="button" data-bs-toggle="dropdown" aria-expanded="false">Studio</a>
									<ul class="dropdown-menu post-it yellow">
										<li><a class="dropdown-item" href="/assignments/">Assignments</a></li>
										<li><a class="dropdown-item" href="/production/">Production</a></li>
										<li><a class="dropdown-item" href="/process/">Creative process</a></li>
										<li><a class="dropdown-item" href="/art-supplies/">Art supplies</a></li>
									</ul>
								</li>
								<li class="nav-item blogs" role="menuitem">
									<a href="/blog/index.html" aria-label="blog">Blog</a>
								</li>
							</ul>
							<!-- placeholder for Search -->
						</div>
					</nav>
				</div>
			</header>
			<main id="main-content" class="main-content FOO" role="main">	
				<section class="section intro">
					<div class="container">
						<h1>Page style template</h1>
						<h2>OPTIONAL_SUBHEAD</h2>
						<p>OPTIONAL_PARAGRAPH</p>
					</div>
				</section>
				<section class="section content default has-box-shadow-top">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="artboard default-content">
									<div class="top">
										<span class="rule-job-tracker"></span>
										<span class="rule"></span>
										<span class="book"></span>
										<span class="issue"></span>
										<span class="pg"></span>
										<span class="ticks left"></span>
										<span class="ticks center"></span>
										<span class="ticks right"></span>
										<span class="stamp"></span>
									</div>
									<div class="left"><span class="rule"></span></div>
									<div class="right"><span class="rule"></span></div>
									<div class="bottom">
										<span class="ticks left"></span>
										<span class="ticks center"></span>
										<span class="ticks right"></span>
										<span class="rule"></span>
									</div>
									
									<h2>Art Board</h2>
									<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>									
									
									<h3>Data table</h3>
									<table class="table" id="people-cities">
										<caption>People &amp; Their Cities (Single-Column)</caption>
										<thead>
											<tr>
												<th scope="col" role="columnheader">&nbsp;</th>
												<th scope="col" role="columnheader">City of Birth</th>
												<th scope="col" role="columnheader">Current City</th>
												<th scope="col" role="columnheader">Favorite City</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row" role="rowheader">Ernesto Trivoli</th>
												<td data-header="City of Birth: ">Naples</td>
												<td data-header="Current City: ">Rome</td>
												<td data-header="Favorite City: ">Naples - with extra text purely to break the two-column mobile view. DO NOT PUBLISH!</td>
											</tr>
											<tr>
												<th scope="row" role="rowheader">Margarita de Rosas</th>
												<td data-header="City of Birth: ">Mexico City</td>
												<td data-header="Current City: ">Los Angeles</td>
												<td data-header="Favorite City: ">New York</td>
											</tr>
											<tr>
												<th scope="row" role="rowheader">Kristin Mumfordson</th>
												<td data-header="City of Birth: ">Berlin</td>
												<td data-header="Current City: ">Stockholm</td>
												<td data-header="Favorite City: ">Cambridge</td>
											</tr>
											<tr>
												<th scope="row" role="rowheader">Samson Abrahamson</th>
												<td data-header="City of Birth: ">Tripoli</td>
												<td data-header="Current City: ">London</td>
												<td data-header="Favorite City: ">Jerusalem</td>
											</tr>
											<tr>
												<th scope="row" role="rowheader">Sahara Blackstone-Carver</th>
												<td data-header="City of Birth: ">Atlanta</td>
												<td data-header="Current City: ">Boise</td>
												<td data-header="Favorite City: ">Nairobi</td>
											</tr>
										</tbody>
									</table>
									
									<h3>Images to test the Lightbox </h3>
									<p>Dave as Child</p>
									<div class="row">
										<div class="col-12 col-sm-4">
											<figure>
												<a href="../assets/img/studio/dave-1966-sofa.jpg" data-lightbox="dave-as-kid" data-title="Me on sofa with Rice Krispies, 1966">
													<img src="../assets/img/pictures/dave-1966-sofa.jpg" alt="FOO" />
												</a>
												<div class="figure-caption">
													<p>Me on sofa with Rice Krispies, 1966</p>
												</div>
											</figure>	
										</div>
										<div class="col-12 col-sm-4">
											<figure>
												<a href="../assets/img/pictures/dave-1974.jpg" data-lightbox="dave-as-kid" data-title="Me jumping off my front porch, 1974">
													<img src="../assets/img/pictures/dave-1974.jpg" alt="FOO" />
												</a>
												<div class="figure-caption">
													<p>Me jumping off my front porch, 1974</p>
												</div>
											</figure>	
										</div>
										<div class="col-12 col-sm-4">
											<figure>
												<a href="../assets/img/pictures/dave-1984-judy-kitten.jpg" data-lightbox="dave-as-kid" data-title="Me, Judy White and friend, 1984">
													<img src="../assets/img/pictures/dave-1984-judy-kitten.jpg" alt="FOO" />
												</a>
												<div class="figure-caption">
													<p>Me, Judy White and friend, 1984</p>
												</div>
											</figure>	
										</div>
									</div>
									
									<h3>Multiple column divs</h3>
									<p>Column-count</p>
									<div class="newspaper-columns">
										<p>Knisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
										<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									</div>
									
									<h2>Header H2 Accumsan et Fiusto Aodio Dignissim Qui Llandit Praesent Yuptatum</h2>
									<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>
									
									<div class="picture-wrapper left third has-border">
										<a href="#">
											<img src="../assets/img/studio/foo.jpg" alt="comic book panel of wonder woman in peril">
										</a>
										<p>Diana escapes from a chain gang in <a href="https://www.comics.org/issue/7393/#71057" target="_blank" rel="noopener noreferrer">Wonder Woman #34</a>, 1949. "The Phantasms of Deception" by Robert Kanigher (credited as Charles Moulton) and Harry Peter.</p>
									</div>
									
									<h3>H3 Dolor in Hendrerit in Xulputate</h3>
									<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt commodo consequat.</p>
									
									<h4>H4 Had Minim Veniam</h4>
									<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt lobortis.</p>
									<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
									
									<div class="picture-wrapper right half has-border has-frame">
										<a href="#">
											<img src="../assets/img/studio/foo.jpg" alt="comic book panel of wonder woman in peril">
										</a>
										<p>Lynda Carter as Wonder Woman, captured in episode <a href="http://www.wonderland-site.com/html/series/wonder/season1/ww76-02-00.htm" target="_blank" rel="noopener noreferrer">"Fausta, The Nazi Wonder Woman"</a></p>
									</div>
								
									<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>
									<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									
									<div class="picture-wrapper full">
										<a href="#">
											<img src="../assets/img/studio/foo.jpg" alt="comic book panel of wonder woman in peril">
										</a>
										<p>Lynda Carter as Wonder Woman, knocked out in 1977 episode <a href="http://www.wonderland-site.com/html/series/wonder/season1/ww76-11-00.htm"  target="_blank" rel="noopener noreferrer">"Formula 407"</a></p>
									</div>
									<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
									<div class="row">
										<div class="col-md-6">
											<ul>
												<li>Quis nostrud exerci tation ullamcorper</li>
												<li>Nminim veniam, quis nostrud exerci tation</li>
												<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
												<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
											</ul>
										</div>
										<div class="col-md-6">
											<ol>
												<li>Quis nostrud exerci tation ullamcorper</li>
												<li>Nminim veniam, quis nostrud exerci tation</li>
												<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
												<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
											</ol>
										</div>
									</div>
									
									<div class="picture-wrapper right quarter has-border has-frame">
										<a href="#">
											<img src="../assets/img/studio/foo.jpg" alt="comic book panel of wonder woman in peril">
										</a>
										<p>A caption for the above image.</p>
									</div>
								
									<h4>H4 Had Minim Veniam</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
									<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									<ol>
										<li>Quis nostrud exerci tation ullamcorper</li>
										<li>Nminim veniam, quis nostrud exerci tation</li>
										<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
										<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
									</ol>
									<h4>H4 Fiusto Aodio Dignissim Veniam</h4>
									<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									<div class="row">
										<div class="cell medium-4">
											<dl>
												<dt>Definition List One</dt>
												<dd>Duis autem vel eum iriure dolor in hendrerit. Sin vulputate velit esse molestie consequat.</dd>
												<dd>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</dd>
											</dl>
										</div>
										<div class="cell medium-4">
											<dl>
												<dt>Definition List Two</dt>
												<dd>Color in hendrerit in vulputate velit esse molestie consequat. Evel illum dolore eu feugiat nulla facilisis at vero eros.</dd>
												<dd>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</dd>
											</dl>
										</div>
										<div class="cell medium-4">
											<dl>
												<dt>Definition List Three</dt>
												<dd>Duis autem vel eum iriure dolor in hendrerit. Sin vulputate velit esse molestie consequat.</dd>
												<dd>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</dd>
											</dl>
										</div>
									</div>	
								</div>
							</div>
							<div class="col-md-3 right-rail">
								<h2>Post-its</h2>
								<div class="item post-it yellow">
									<dl class="link-list">
										<dt>Link list style, yellow</dt>
										<dd><a href="#">LINK_LIST_ITEM</a></dd>
										<dd><a href="#">LINK_LIST_ITEM</a></dd>
										<dd><a href="#">LINK_LIST_ITEM</a></dd>
										<dd><a href="#">LINK_LIST_ITEM</a></dd>
									</dl>
								</div>
								<div class="item post-it white">
									<dl>
										<dt>Paper color: plain white</dt>
										<dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</dd>
										<dd class="cta">
											<a href="#">CTA</a>
										</dd>
									</dl>
								</div>
								<div class="item post-it pink">
									<dl>
										<dt>Paper color: plain pink</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it yellow">
									<dl>
										<dt>Paper color: plain yellow</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it blue">
									<dl>
										<dt>Paper color: plain blue</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it green">
									<dl>
										<dt>Paper color: plain green</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it orange">
									<dl>
										<dt>Paper color: plain orange</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								
								<h3>Sticky notes variants</h3>
								<div class="item post-it sticky-notes-pink">
									<dl>
										<dt>Paper color: sticky note pink</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it sticky-notes-orange">
									<dl>
										<dt>Paper color: sticky note orange</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it sticky-notes-yellow">
									<dl>
										<dt>Paper color: sticky note yellow</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it sticky-notes-green">
									<dl>
										<dt>Paper color: sticky note green</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it sticky-notes-teal">
									<dl>
										<dt>Paper color: sticky note teal</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								
								<h3>Jaipur variants</h3>
								<div class="item post-it jaipur-blue">
									<dl>
										<dt>Paper color: Jaipur blue</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it jaipur-teal">
									<dl>
										<dt>Paper color: Jaipur teal</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it jaipur-orange">
									<dl>
										<dt>Paper color: Jaipur orange</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it jaipur-pink">
									<dl>
										<dt>Paper color: Jaipur pink</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it jaipur-yellow">
									<dl>
										<dt>Paper color: Jaipur yellow</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								
								<h3>Neon variants</h3>
								<div class="item post-it neon-pink">
									<dl>
										<dt>Paper color: Neon pink</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it neon-orange">
									<dl>
										<dt>Paper color: Neon orange</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it neon-yellow">
									<dl>
										<dt>Paper color: Neon yellow</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it neon-green">
									<dl>
										<dt>Paper color: Neon green</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
								<div class="item post-it neon-teal">
									<dl>
										<dt>Paper color: Neon teal</dt>
										<dd>DESCRIPTION</dd>
									</dl>
								</div>
							
							</div>
						</div>
					</div>
				</section>				
			</main>			
			<footer>
				<div class="container">
					<p>&copy;2025 Marshall Art Studio. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from Marshall Art Studio nor may the information be used in any commercial venue without such prior written permission.</p>
					<ul class="list-inline social">
						<li class="follow-me d-none d-sm-inline-block">Follow me on </li>
						<li class="email"><a href="mailto:dsm@artofthecomicbook.com?subject=Tell me about Art of the Comic Book!" aria-label="Art of the Comic Book email"></a></li>
						<li class="linkedin"><a href="https://linkedin.com/in/illdave" target="_blank" rel="noopener noreferrer" aria-label="Dave Marshall's Linkedin"></a></li>
						<li class="bluesky"><a href="https://bsky.app/profile/illdave.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="Art of the Comic Book on Bluesky"></a></li>
						<li class="youtube"><a href="https://youtube.com/channel/UCaX8UPlxmAKMaYR1dwjHK3Q" target="_blank" rel="noopener noreferrer" aria-label="Art of the Comic Book demos on Youtube"></a></li>
					</ul>						
					<p class="back-to-top sr-only sr-only-focusable">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
		</div>
		<script src="../assets/themes/bootstrap-5/js/bootstrap.min.js"></script>
		<script src="../assets/lib/jquery/jquery-3.5.1.min.js"></script>
		<script src="../assets/lib/lightbox-2.11.1/js/lightbox.js"></script>
	</body>
</html>
