<!doctype html>
<html lang="en-US">
	<head>
		<!-- Copyright 1990-2020 Art of the Comic Book by Marshall Art Studio -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Art of the Comic Book: Text Styles</title>
		<meta name="application-name" content="Art of the Comic Book: Welcome">
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="Copyright 1990-2020 Art of the Comic Book">
		<meta name="description" content="Art of the Comic Book is a college-level studio workshop for making comics with traditional ink-on-paper media.">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, art of the comic book">
		<link href="../assets/themes/art-of-comic/art-of-comic.css" type="text/css" rel="stylesheet">	
		<script src="../assets/themes/art-of-comic/art-of-comic.js" type="text/javascript"></script>
		<link href="../assets/img/brand/art-of-comic.ico" type="image/x-icon" rel="icon">
		
		<meta property="og:title"        content="Art of the Comic Book">
		<meta property="og:type"         content="website">
		<meta property="og:description"  content="Art of the Comic Book is ...">
		<meta property="og:url"          content="http://www.artofthecomicbook.com">
		<meta property="og:image"        content="http://www.artofthecomicbook.com/assets/img/open-graph/og-agent-k.png">
	</head>
	<body>
		<div class="art-of-comic-2">
			<header class="fixed-top main-navigation" role="banner">
				<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
				<nav class="navbar navbar-expand-lg">
					<div class="navbar-brand-stack">
						<a class="navbar-brand" href="../index.html" rel="home" aria-label="Art of the Comic Book">Art of the Comic Book</a>
						<span class="slogan">Make Sequential Art with Traditional Media</span>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse justify-content-end" id="main-navigation">
						<ul class="navbar-nav bd-navbar-nav d-flex">
							<li class="nav-item schedule" role="menuitem">
								<a href="../schedule/index.html" aria-label="schedule of comic book courses">Schedule</a>
							</li>
							<li class="nav-item about" role="menuitem">
								<a href="../about/index.html" aria-label="about instructor David Marshall">About</a>
							</li>
							<li class="nav-item studio" role="menuitem">
								<a href="../studio/index.html" aria-label="studio requirements">Studio</a>
							</li>
							<li class="nav-item blogs" role="menuitem">
								<a href="../blog/index.html" aria-label="blog">Blog</a>
							</li>
						</ul>
						<!-- placeholder for Search -->
					</div>
				</nav>
			</header>
			<main id="main-content" class="main-content about" role="main">	
				<section class="section content">
					<div class="container">
<div class="page-header">
	<h1>Text Styles</h1>
	<h2>Optional sub-header or summary</h2>
	<p><span class="author">AUTHOR</span> <span class="dateline">DATE</span> <span class="XXX">(updated)</span></p>
</div>

<div class="artboard">
	<div class="top">
		<span class="stamp"></span>
		<span class="book"></span>
		<span class="issue"></span>
		<span class="pg"></span>
		<span class="ticks left"></span>
		<span class="ticks center"></span>
		<span class="ticks right"></span>
		<span class="rule"></span>
	</div>
	<div class="left"><span class="rule"></span></div>
	<div class="right"><span class="rule"></span></div>
	<div class="bottom">
		<span class="ticks left"></span>
		<span class="ticks center"></span>
		<span class="ticks right"></span>
		<span class="rule"></span>
	</div>
	<div class="text">
		<h2>Art Board</h2>
		<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>
		<p>Knisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	</div>
</div>
						
<p>Knisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<h2>Header H2 Accumsan et Fiusto Aodio Dignissim Qui Llandit Praesent Yuptatum</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>

<div class="picture-wrapper left third has-border">
	<a href="#">
		<img src="../assets/img/pictures/wonderwoman-comicbook-04.jpg" alt="comic book panel of wonder woman in peril">
	</a>
	<p>A caption that could babble on for at least two or three lines. Resist the temptation to copy-paste something from the article.</p>
</div>

<h3>H3 Dolor in Hendrerit in Xulputate</h3>
<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt commodo consequat.</p>

<h4>H4 Had Minim Veniam</h4>
<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt lobortis.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>

<div class="picture-wrapper right half has-border has-frame">
	<a href="#">
		<img src="../assets/img/pictures/wonderwoman-tvshow-05.jpg" alt="comic book panel of wonder woman in peril">
	</a>
	<p>A caption for the above image.</p>
</div>

<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

<table id="people-cities">
	<caption>People &amp; Their Cities (Single-Column)</caption>
	<thead>
		<tr>
			<th scope="col" role="columnheader">&nbsp;</th>
			<th scope="col" role="columnheader">City of Birth</th>
			<th scope="col" role="columnheader">Current City</th>
			<th scope="col" role="columnheader">Favorite City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row" role="rowheader">Ernesto Trivoli</th>
			<td data-header="City of Birth: ">Naples</td>
			<td data-header="Current City: ">Rome</td>
			<td data-header="Favorite City: ">Naples</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Margarita de Rosas</th>
			<td data-header="City of Birth: ">Mexico City</td>
			<td data-header="Current City: ">Los Angeles</td>
			<td data-header="Favorite City: ">New York</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Kristin Mumfordson</th>
			<td data-header="City of Birth: ">Berlin</td>
			<td data-header="Current City: ">Stockholm</td>
			<td data-header="Favorite City: ">Cambridge</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Samson Abrahamson</th>
			<td data-header="City of Birth: ">Tripoli</td>
			<td data-header="Current City: ">London</td>
			<td data-header="Favorite City: ">Jerusalem</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Sahara Blackstone-Carver</th>
			<td data-header="City of Birth: ">Atlanta</td>
			<td data-header="Current City: ">Boise</td>
			<td data-header="Favorite City: ">Nairobi</td>
		</tr>
	</tbody>
</table>

<div class="picture-wrapper full">
	<a href="#">
		<img src="../assets/img/pictures/wonderwoman-tvshow-07.jpg" alt="comic book panel of wonder woman in peril">
	</a>
	<p>A caption for the above image.</p>
</div>

<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
<div class="grid-x grid-margin-x">
	<div class="col-md-6">
		<ul>
			<li>Quis nostrud exerci tation ullamcorper</li>
			<li>Nminim veniam, quis nostrud exerci tation</li>
			<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
			<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ol>
			<li>Quis nostrud exerci tation ullamcorper</li>
			<li>Nminim veniam, quis nostrud exerci tation</li>
			<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
			<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
		</ol>
	</div>
</div>

<div class="picture-wrapper right quarter ">
	<a href="#">
		<img src="../assets/img/pictures/wonderwoman-comicbook-09.jpg" alt="comic book panel of wonder woman in peril">
	</a>
	<p>A caption for the above image.</p>
</div>

<h4>H4 Had Minim Veniam</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<ol>
	<li>Quis nostrud exerci tation ullamcorper</li>
	<li>Nminim veniam, quis nostrud exerci tation</li>
	<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
	<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
</ol>
<h4>H4 Fiusto Aodio Dignissim Veniam</h4>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

	<div class="grid-x grid-margin-x">
		<div class="cell medium-4">
			<dl>
				<dt>Definition List One</dt>
				<dd>Duis autem vel eum iriure dolor in hendrerit. Sin vulputate velit esse molestie consequat.</dd>
				<dd>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</dd>
			</dl>
		</div>
		<div class="cell medium-4">
			<dl>
				<dt>Definition List Two</dt>
				<dd>Color in hendrerit in vulputate velit esse molestie consequat. Evel illum dolore eu feugiat nulla facilisis at vero eros.</dd>
				<dd>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</dd>
			</dl>
		</div>
		<div class="cell medium-4">
			<dl>
				<dt>Definition List Three</dt>
				<dd>Duis autem vel eum iriure dolor in hendrerit. Sin vulputate velit esse molestie consequat.</dd>
				<dd>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</dd>
			</dl>
		</div>
	</div>


					</div>
				</section>
			</main>
			<footer>
				<div class="container">
					<p>&copy;2021 Marshall Art Studio. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from Marshall Art Studio nor may the information be used in any commercial venue without such prior written permission.</p>
					<ul class="list-inline social">
						<li class="follow-me d-none d-sm-inline-block">Follow me on </li>
						<li class="email"><a href="mailto:dsm@artofthecomicbook.com?subject=Tell me about Art of the Comic Book!" aria-label="Art of the Comic Book email"><span>Email</span></a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/illdave" target="_blank" rel="noopener noreferrer" aria-label="Dave Marshall's Linkedin"><span>Linkedin</span></a></li>
						<li class="twitter"><a href="http://twitter.com/artofcomicbook" target="_blank" rel="noopener noreferrer" aria-label="Art of the Comic Book Twitter"><span>Twitter</span></a></li>
					</ul>						
					<p class="back-to-top sr-only sr-only-focusable">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
		</div>
		<script src="../assets/themes/bootstrap-5/js/bootstrap.min.js"></script>
		<script src="../assets/lib/jquery/jquery-3.5.1.min.js"></script>
		<script src="../assets/lib/twitter/widgets.js" async charset="utf-8"></script>		
	</body>
</html>
